
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Roboto:ital,wght@0,500;1,400&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header{
    width: 100%;
    top: 0;
    background-color: rgba(0, 2, 61, 0.712);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 2px 8px rgb(0, 0, 0);
    position: fixed;
    z-index: 1000;

}
@media (max-width : 1000px){
    .header{
        padding-top: 15px;
        padding-bottom: 20px;
        font-size: 6vw;

    }
}