@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Roboto:ital,wght@0,500;1,400&display=swap');



.App{
    
    padding-top: 130px;
    padding-bottom: 70px;
    background: linear-gradient(rgba(0, 0, 0, 0.081),rgba(0, 0, 0, 0.048)), url(glasso.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
}
::-webkit-scrollbar{
    width: 0px;
   
   
}


@media (max-width: 550px) {
    .App{
        padding-top: 70px;
        
    }
}